.container-header{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 0px 20px;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 200px;
}

.title{
    color: rgb(255, 81, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-warning{
    height: 40px;
}

.slider{
    padding: 0px 30px 0px 30px;
}

.container-search{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
}

.custom-select{
    width: 200px;
}

.input-group{
    width: 700px;
}

.container-main{
    padding: 00px 20px 0px 20px;
    background-color: lightgrey;
}

.container-card{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
    padding: 10px;
}

.card-title{
    font-weight: bold;
    height: 70px;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
}

.card-address{
    font-size: 14px;
    height: 40px;
    overflow: hidden;
}

.card-price{
    font-size: 14px;
    overflow: hidden;
}

.card-phone{
    font-size: 14px;
    overflow: hidden;
}

.card-text{
    font-size: 14px;
    margin-bottom: 10px;
}